In [2]:
import requests 
import pandas as pd
import matplotlib
import hashlib

In [3]:
api_key = "df976c50384d9ee14627e6f9e477a6f47b59822c"

In [4]:
base_url = "https://api.census.gov/data/2022/acs/acs1"

In [5]:
variables = [
    "NAME",            # State name
    "B19013_001E",     # Median household income
    "B15003_017E",     # High school graduate
    "B15003_022E",     # Bachelor's degree
    "B15003_023E",     # Master's degree
    "B15003_025E"      # Doctorate degree
]

In [6]:
url = f"{base_url}?get={','.join(variables)}&for=state:*&key={api_key}"

In [7]:
response = requests.get(url)
data = response.json()

In [8]:
df = pd.DataFrame(data[1:], columns=data[0])
df = df.rename(columns={
    "NAME": "State",
    "B19013_001E": "Median_Income",
    "B15003_017E": "High_School_Grad",
    "B15003_022E": "Bachelors_Degree",
    "B15003_023E": "Masters_Degree",
    "B15003_025E": "Doctorate_Degree"
})

df

,State,Median_Income,High_School_Grad,Bachelors_Degree,Masters_Degree,Doctorate_Degree,state
0,Alabama,59674,874286,609316,286677,42908,01
1,Alaska,88121,116008,94168,39551,6548,02
2,Arizona,74568,996330,1032052,463372,73242,04
3,Arkansas,55432,583402,323961,144054,23987,05
4,California,91551,4846859,6056169,2643964,517699,06
5,Colorado,89302,670780,1177891,508701,83022,08
6,Connecticut,88429,568906,584999,345966,49857,09
7,Delaware,82174,180292,151894,81198,14956,10
8,District of Columbia,101027,53376,126678,115091,24411,11
9,Florida,69303,3716877,3445343,1430806,232162,12
10,Georgia,72837,1620608,1519625,733360,118108,13
11,Hawaii,92458,244287,226124,90504,16917,15
12,Idaho,72785,275314,274409,99915,16713,16
13,Illinois,76708,1860087,1952990,968013,140791,17
14,Indiana,66785,1230358,869217,357804,57273,18
15,Iowa,69588,552775,463740,167964,27957,19
16,Kansas,68925,409444,426910,194772,30398,20
17,Kentucky,59341,806014,508620,253773,37210,21
18,Louisiana,55416,840937,525044,218915,35332,22
19,Maine,69543,261555,229764,99149,17210,23
20,Maryland,94991,882566,996167,617106,129354,24
21,Massachusetts,94488,1000319,1252187,735346,167856,25
22,Michigan,66986,1681221,1361139,651795,94849,26
23,Minnesota,82338,797540,995083,378864,65650,27
24,Mississippi,52719,481433,297480,136302,24020,28
25,Missouri,64811,1084843,835865,381114,60726,29
26,Montana,67631,179439,179708,65526,12004,30
27,Nebraska,69597,279300,293346,110690,19384,31
28,Nevada,72333,534187,390872,144438,23178,32
29,New Hampshire,89992,234569,252073,131091,20137,33
30,New Jersey,96346,1458634,1679895,834955,119490,34
31,New Mexico,59726,306601,246178,139286,30240,35
32,New York,79557,2843637,3097409,1774703,254705,36
33,North Carolina,67481,1536443,1678483,708100,121542,37
34,North Dakota,71970,111180,115034,33321,5939,38
35,Ohio,65720,2293879,1578535,760014,104386,39
36,Oklahoma,59673,675343,495467,187067,32026,40
37,Oregon,75657,549907,675825,297339,55267,41
38,Pennsylvania,71798,2669893,1899494,940588,164782,42
39,Rhode Island,81854,161723,185883,84304,15933,44
40,South Carolina,64115,852142,725469,345957,54737,45
41,South Dakota,69728,147097,131481,41868,8078,46
42,Tennessee,65254,1259999,958365,391150,71956,47
43,Texas,72284,3852041,4242031,1779032,264060,48
44,Utah,89168,390984,505215,194392,36185,49
45,Vermont,73991,106758,114633,65678,11346,50
46,Virginia,85873,1203973,1409942,818944,128015,51
47,Washington,91306,963272,1302707,624627,102857,53
48,West Virginia,54329,400450,188793,88210,14957,54
49,Wisconsin,70996,1066855,885548,344375,56389,55
50,Wyoming,70042,85963,71812,34361,6288,56
51,Puerto Rico,24112,609112,503506,148347,33185,72

In [11]:
import hashlib

def dataframe_checksum(df):
    csv_bytes = df.to_csv(index=False).encode('utf-8')
    return hashlib.sha256(csv_bytes).hexdigest()

In [12]:
checksum = dataframe_checksum(df)
print("ACS DataFrame Checksum:", checksum)

ACS DataFrame Checksum: cf96c5b9888d03fa034ad16c9e8486220a155ea2860be29f994dfbe7a24cd690